body{
    background-color:#007fc6;
}
h1 {
    

    color: white;
    text-align: right;
    padding: 10px;
    font-family: Helvetica;
    font-size: 40px;
    

 }
h2 {
    
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Helvetica;
    font-size: 20px;
    border-bottom: solid;
    border-color: white;
    border-width: 5px;

}

img{
    content: url(logo.png);
    width: 25%;
    height: 25%;
    

}
p {
    font-family: Helvetica;
    font-size: 20px;
  }
table {
    
    border-bottom-style: solid;
    border-bottom-color:  white;
    color: white;
    text-align: left;
    padding: 10px;
} 
  
th,td {
    border-collapse: 1px dotted white;
    border-bottom-style: dotted;
    border-bottom-color:  white;
    color: white;
    text-align: left;
    padding: 10px;
    font-family: Helvetica;
    font-size: 40px;
}
table.c {
    table-layout: auto;
    width: 100%;  
  }

  