<!DOCTYPE html>
<html lang="en">
<meta http-equiv="refresh" content="15">                

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Bus Times</title>
    
</head>

   <h1> {{ timen }}</h1> 
   <img>
   <table class="c">
     <tr>
       <th>Linja</th>
       <th>Määränpää</th>
       <th>Aika / min</th>
     </tr>
     <tr>
       <td>{{ busK1 }}</td>
       <td>{{ busR1 }}</td>
       <td>{{ busT1 }}</td>
     </tr>
     <tr>
       <td>{{ busK22 }}</td>
       <td>{{ busR22 }}</td>
       <td>{{ busT22 }}</td>
     </tr>
     <tr>
       <td>{{ busK33 }}</td>
       <td>{{ busR33 }}</td>
       <td>{{ busT33 }}</td>
     </tr>
     <tr>
       <td>{{ busK44 }}</td>
       <td>{{ busR44 }}</td>
       <td>{{ busT44 }}</td>
     </tr>
   </table>
</body>
</html>