<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="60">                

    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Bus Times</title>
    <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      padding: 10px;
    }

    
    .grid-item {
      padding: 10px;
      font-size: 30px;
      text-align: center;
    }
    </style>
</head>
<img>
   <p1>{{ weathern }}</p1>
   <p2>{{ timen }}</p2>
   <body>
    <div class="grid-container">
      <div class="grid-item">

   <table class="c">
     <tr>
       <th>Linja</th>
       <th>Määränpää</th>
       <th>Aika / min</th>
     </tr>
     <tr>
       <td>{{ busK1 }}</td>
       <td>{{ busR1 }}</td>
       <td>{{ busT1 }}</td>
     </tr>
     <tr>
       <td>{{ busK2 }}</td>
       <td>{{ busR2 }}</td>
       <td>{{ busT2 }}</td>
     </tr>
     <tr>
       <td>{{ busK3 }}</td>
       <td>{{ busR3 }}</td>
       <td>{{ busT3 }}</td>
     </tr>
     <tr>
       <td>{{ busK4 }}</td>
       <td>{{ busR4 }}</td>
       <td>{{ busT4 }}</td>
     </tr>
     <tr>
      <td>{{ busK5 }}</td>
      <td>{{ busR5 }}</td>
      <td>{{ busT5 }}</td>
    </tr>
  </table>
    </div>
    <div class="grid-item">
    <table class="c">
    <tr>
      <th>Linja</th>
      <th>Määränpää</th>
      <th>Aika / min</th>
    </tr>
    <tr>
      <td>{{ busK6 }}</td>
      <td>{{ busR6 }}</td>
      <td>{{ busT6 }}</td>
    </tr>
    <tr>
      <td>{{ busK7 }}</td>
      <td>{{ busR7 }}</td>
      <td>{{ busT7 }}</td>
    </tr>
    <tr>
      <td>{{ busK8 }}</td>
      <td>{{ busR8 }}</td>
      <td>{{ busT8 }}</td>
    </tr>
    <tr>
      <td>{{ busK9 }}</td>
      <td>{{ busR9 }}</td>
      <td>{{ busT9 }}</td>
    </tr>
    <tr>
     <td>{{ busK10 }}</td>
     <td>{{ busR10 }}</td>
     <td>{{ busT10 }}</td>
   </tr>
    </table>
  </div>
  <div class="grid-item">

   <table class="c">
   <tr>
    <th>Linja</th>
    <th>Määränpää</th>
    <th>Aika / min</th>
  </tr>
  <tr>
    <td>{{ busK11 }}</td>
    <td>{{ busR11 }}</td>
    <td>{{ busT11 }}</td>
  </tr>
  <tr>
    <td>{{ busK12 }}</td>
    <td>{{ busR12 }}</td>
    <td>{{ busT12 }}</td>
  </tr>
  <tr>
    <td>{{ busK13 }}</td>
    <td>{{ busR13 }}</td>
    <td>{{ busT13 }}</td>
  </tr>
  <tr>
    <td>{{ busK14 }}</td>
    <td>{{ busR14 }}</td>
    <td>{{ busT14 }}</td>
  </tr>
  <tr>
   <td>{{ busK15 }}</td>
   <td>{{ busR15 }}</td>
   <td>{{ busT15 }}</td>
 </tr>
   </table>
  </div>

   <div class="grid-item">

 <table class="c">
 <tr>
  <th>Linja</th>
  <th>Määränpää</th>
  <th>Aika / min</th>
</tr>
<tr>
  <td>{{ busK16 }}</td>
  <td>{{ busR16 }}</td>
  <td>{{ busT16 }}</td>
</tr>
<tr>
  <td>{{ busK17 }}</td>
  <td>{{ busR17 }}</td>
  <td>{{ busT17 }}</td>
</tr>
<tr>
  <td>{{ busK18 }}</td>
  <td>{{ busR18 }}</td>
  <td>{{ busT18 }}</td>
</tr>
<tr>
  <td>{{ busK19 }}</td>
  <td>{{ busR19 }}</td>
  <td>{{ busT19 }}</td>
</tr>
<tr>
 <td>{{ busK20 }}</td>
 <td>{{ busR20 }}</td>
 <td>{{ busT20 }}</td>
</tr>
 </table>
</div>

</body>
</html>
